In [32]:
import Levenshtein as lev

In [2]:
lev.distance('hello','holloo')

2

In [44]:
list(lev.editops('H@llo','hel|o')[0])

['replace', 0, 0]

In [33]:
import pandas as pd

In [58]:
words = pd.read_excel('words.xlsx')

/Users/mengyang/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [50]:
words

        Node      Ortho      Phono
0          1          a          x
1          2   aardvark    ardvark
2          3      aback       xb@k
3          4     abacus     @bxkxs
4          5      abaft      xb@ft
...      ...        ...        ...
19335  19336     Zouave       zUav
19336  19337     zounds      zWndz
19337  19338  zucchetto     zukEto
19338  19339   zwieback     swib@k
19339  19340  Zwinglian  zwIGglixn

[19340 rows x 3 columns]

In [24]:
 
list(words.iloc[1])

[2, 'aardvark', 'ardvark']

In [25]:
test = []
test.append(list(words.iloc[1]))

In [26]:
test

[[2, 'aardvark', 'ardvark']]

In [59]:
len(words)

19340

In [ ]:
words

In [60]:
words_list = []
for row in words.itertuples():
    r = []
    r.append(row.Node)
    r.append(row.Ortho)
    r.append(row.Phono)
    words_list.append(r)

In [61]:
words_list[17785]

[17786, 'true', 'tru']

In [62]:
ortho = []
phono = []
for i in range(0,len(words_list)-1):
    l1 = words_list[i]
    o1 = str(l1[1])
    p1 = str(l1[2])
    for j in range(1,len(words_list)):
        l2 = words_list[j]
        o2 = str(l2[1])
        p2 = str(l2[2])
        if len(lev.editops(o1,o2)) == 1:
            ol = l1.extend(l2)
            oed = list(lev.editops(o1,o2)[0])
            print(oed)
            #ortho.append(ol)
        if len(lev.editops(p1,p2)) == 1:
            pl = l1.extend(l2)
            ped = list(lev.editops(p1,p2)[0])
            print(ped)
            #phono.append(pl)

['insert', 1, 1]
['insert', 1, 1]
['insert', 1, 1]
['insert', 1, 1]
['insert', 1, 1]
['replace', 0, 0]
['insert', 1, 1]
['replace', 0, 0]
['insert', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['replace', 0, 0]
['insert', 0, 0]
['replace', 0, 0]

TypeError: editops expected two Strings or two Unicodes

In [46]:
ortho

[]

In [63]:
str(True)

'True'