In [2]:
import Levenshtein as lev

In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
english = pd.read_csv('words.csv')

In [13]:
english.columns

Index(['idx', 'Item', 'Pronunciation', 'NumSylls', 'NumPhones', 'Duration',
       'OrthUP', 'PhonND', 'OrthND', 'FreqSUBTLEX', 'FreqCOCA', 'FreqCOCAspok',
       'FreqGoogle', 'PhonUP', 'Dbet', 'PhonLev', 'NumMorphs', 'OrthLev'],
      dtype='object')

In [12]:
english = english.drop(columns=['Unnamed: 0'])

In [14]:
english_list = []
for index, row in english.iterrows():
    f = [row['idx'],row['Item'],row['Dbet']]
    english_list.append(f)

In [15]:
phono = []
for i in range(0,len(english_list)-1):
    l1 = english_list[i]
    p1 = l1[2]
    for j in range(i+1,len(english_list)):
        l2 = english_list[j]
        p2 = l2[2]
        if lev.distance(p1,p2) == 1:
            pl = [l1[0],l2[0],l1[1],l2[1],l1[2],l2[2]]
            ped = list(lev.editops(p1,p2)[0])
            pl.extend(ped)
            phono.append(pl)

In [28]:
len(phono)

44368

In [18]:
phono_replace = []
phono_delins = []
for p in phono:
    if p[6] == 'replace':
        phono_replace.append(p)
    else:
        phono_delins.append(p)

In [19]:
phono_df = pd.DataFrame(phono, columns = ['from_node','to_node', 'from_ortho','to_ortho','from_phono','to_phono','type','position','p2'])

In [21]:
phono_delins_df = pd.DataFrame(phono_delins, columns = ['from_node','to_node', 'from_ortho','to_ortho','from_phono','to_phono','type','position','p2'])

In [22]:
phono_replace_df = pd.DataFrame(phono_replace, columns = ['from_node','to_node', 'from_ortho','to_ortho','from_phono','to_phono','type','position','p2'])

In [24]:
phono_replace_df = phono_replace_df.drop(columns=['p2'])
phono_df = phono_df.drop(columns=['p2'])
phono_delins_df = phono_delins_df.drop(columns=['p2'])

In [25]:
phono_replace_df

,from_node,to_node,from_ortho,to_ortho,from_phono,to_phono,type,position
0,1,1629,a,awe,^,>,replace,0
1,1,8736,a,eye,^,#,replace,0
2,1,11747,a,i,^,#,replace,0
3,1,16537,a,owe,^,o,replace,0
4,2,7,aback,abash,^b&k,^b&S,replace,3
...,...,...,...,...,...,...,...,...
30941,26739,26744,yen,yet,yEn,yEt,replace,2
30942,26741,26744,yes,yet,yEs,yEt,replace,2
30943,26750,26755,yo,you,yo,yu,replace,1
30944,26755,26788,you,zoo,yu,zu,replace,0
30945,26780,26782,zipper,zippy,zIpR,zIpi,replace,3

In [26]:
phono_df.to_csv('english_phono_links.csv',index=False)

In [27]:
phono_replace_df.to_csv('english_phono_replace_links.csv',index=False)
phono_delins_df.to_csv('english_phono_delins_links.csv',index=False)

In [29]:
english.to_csv('english_phono_nodes.csv',index=False)

In [30]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

In [32]:
gc_items = pd.read_csv('all_gc_items.csv',dtype="string")
responses = pd.read_csv('mald_response.csv',dtype="string")

In [35]:
responses = responses.drop(columns=['Unnamed: 0'])

In [47]:
responses["Item"] = responses["Item"].str.lower()

In [43]:
gc_items["Item"] = gc_items["Item"].str.lower()

In [50]:
dfinal = responses.merge(gc_items, on="Item", how = 'inner')

In [52]:
dfinal.to_csv('responses_processed.csv',index=False)

In [53]:
dfinal

,Experiment,Release,Subject,Trial,List,WordRunLength,ExperimentRunID,Item,RT,ACC,...,NumSylls,NumPhones,Duration,PhonND,FreqSUBTLEX,FreqCOCA,FreqCOCAspok,FreqGoogle,PhonUP,Dbet
0,MALD1_sR,MALD1,15292,307,words38,1,15292_38,admissions,917,TRUE,...,3,8,668,3,111,1714,250,12907686,8,^dmIS^nz
1,MALD1_sR,MALD1,16016,361,words38,1,16016_105,admissions,618,TRUE,...,3,8,668,3,111,1714,250,12907686,8,^dmIS^nz
2,MALD1_sR,MALD1,16046,612,words38,1,16046_38,admissions,794,TRUE,...,3,8,668,3,111,1714,250,12907686,8,^dmIS^nz
3,MALD1_sR,MALD1,16249,744,words38,2,16249_105,admissions,815,TRUE,...,3,8,668,3,111,1714,250,12907686,8,^dmIS^nz
4,MALD1.1_sR,MALD1.1,181158,585,38,2,181158_38,admissions,1078,TRUE,...,3,8,668,3,111,1714,250,12907686,8,^dmIS^nz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83724,MALD1_sR,MALD1,16792,298,words64,1,16792_64,yelling,842,TRUE,...,2,5,408,26,1087,2713,652,1395556,5,yElIN
83725,MALD1.1_sR,MALD1.1,181245,612,64,1,181245_64,yelling,819,TRUE,...,2,5,408,26,1087,2713,652,1395556,5,yElIN
83726,MALD1.1_sR,MALD1.1,190091,589,64,3,190091_131,yelling,703,TRUE,...,2,5,408,26,1087,2713,652,1395556,5,yElIN
83727,MALD1.1_sR,MALD1.1,190243,557,64,1,190243_131,yelling,828,TRUE,...,2,5,408,26,1087,2713,652,1395556,5,yElIN
83728,MALD1.1_sR,MALD1.1,190636,246,64,1,190636_64,yelling,864,TRUE,...,2,5,408,26,1087,2713,652,1395556,5,yElIN

In [54]:
dfinal_corr = dfinal[dfinal['ACC']=='TRUE']

In [56]:
dfinal_corr.to_csv('responses_processed_corr.csv',index=False)

In [57]:
aelp_f = pd.read_csv('AELP_F.csv',dtype="string")
aelp_m = pd.read_csv('AELP_M.csv',dtype='string')

In [58]:
aelp_f

       Talker\tList\tSubjectID\tSessionNo\tTrialNo\tItem\tItemType\tRespACC\tRT\tzRT\tDur\tRTmDur\tzRTmDur\tkeep
0       F2	1	78	1	1	diromaur	0	1	1185	0.559219476	801....
1       F2	1	78	1	2	domfrin	0	1	1040	0.006365514	880.4...
2       F2	1	78	1	3	rectal	1	1	1210	0.654539125	641.51...
3       F2	1	78	1	4	dreaming	1	1	1075	0.139813022	879....
4       F2	1	78	1	5	sensianny	0	1	1281	0.925246927	878...
...                                                   ...
676639  F2	14	178	5	1352	electramogner	0	1	1125	-0.211...
676640  F2	14	178	5	1353	doos	0	1	1253	0.160213986	692...
676641  F2	14	178	5	1354	regional	1	1	1025	-0.50272341...
676642  F2	14	178	5	1355	unintentional	1	1	1103	-0.275...
676643  F2	14	178	5	1356	foost	0	1	1159	-0.11310231	98...

[676644 rows x 1 columns]

In [9]:
replace_idx = replace_node['idx'].tolist()
delins_idx = delins_node['idx'].tolist()
l50_idx = l50_node['idx'].tolist()
m50_idx = m50_node['idx'].tolist()

In [10]:
rd_idx = intersection(replace_idx,delins_idx)
lm_idx = intersection(l50_idx,m50_idx)
rdml_idx = intersection(rd_idx,lm_idx)
intersection_idx = intersection(rdml_idx,all_idx)

In [11]:
len(intersection_idx)

4183

In [12]:
all_degree

        idx degree
0         1      7
1         3      3
2         6      1
3         8      4
4         9      2
...     ...    ...
9070  19324     17
9071  19325      3
9072  19326     20
9073  19328      1
9074  19332      8

[9075 rows x 2 columns]

In [13]:
all_degree.loc[all_degree.idx == '1','degree'].values[0]

'7'

In [14]:
all_node

        idx   name    ortho    phono
0         1      1        a        x
1         3      3    aback     xb@k
2         6      6  abalone  @bxloni
3         8      8    abase     xbes
4         9      9    abash     xb@S
...     ...    ...      ...      ...
9070  19324  19324     zone      zon
9071  19325  19325    zoned     zond
9072  19326  19326      zoo       zu
9073  19328  19328    zooid     zoOd
9074  19332  19332     zoom      zum

[9075 rows x 4 columns]

In [21]:
all_node.loc[all_node.idx == '19328','ortho'].values[0]

'zooid'

In [22]:
degrees = []
for i in intersection_idx:
    d = []
    d.append(i)
    ortho = all_node.loc[all_node.idx == i,'ortho'].values[0]
    phono = all_node.loc[all_node.idx == i,'phono'].values[0]
    d.append(ortho)
    d.append(phono)
    all_d = all_degree.loc[all_degree.idx == i,'degree'].values[0]
    replace_d = replace_degree.loc[replace_degree.idx == i,'degree'].values[0]
    delins_d = delins_degree.loc[delins_degree.idx == i,'degree'].values[0]
    l50_d = l50_degree.loc[l50_degree.idx == i,'degree'].values[0]
    m50_d = m50_degree.loc[m50_degree.idx == i,'degree'].values[0]
    d.append(all_d)
    d.append(replace_d)
    d.append(delins_d)
    d.append(l50_d)
    d.append(m50_d)
    degrees.append(d)

In [27]:
degrees_pd = pd.DataFrame(degrees,columns = ['idx','ortho','phono','all','replace','delete_insert','pos_l50','pos_m50'])

In [29]:
degrees_pd.to_csv('degrees.csv',index=False)

In [33]:
degrees_pd

        idx   ortho phono all replace delete_insert pos_l50 pos_m50
0      1949    blot  blat  14      11             3       6       8
1     19157   wooly  wUli   6       5             1       4       2
2      7393  grease  gris  14      12             2       2      12
3     18755    wain   wen  29      26             3      21       8
4     16802    sway   swe   9       4             5       5       4
...     ...     ...   ...  ..     ...           ...     ...     ...
4178   4388     dab   d@b  14      12             2      10       4
4179  15842   slung  sl^G  14      11             3       6       8
4180   2328     bur    bR  22      14             8       8      14
4181   2845    cent  sEnt  22      16             6      13       9
4182   2464   calla  k@lx   7       4             3       3       4

[4183 rows x 8 columns]

In [4]:
all_degree_list = [int(i) for i in degrees["original"].tolist()]

In [5]:
replace_degree_list = [int(i) for i in degrees["replace"].tolist()]
delins_degree_list = [int(i) for i in degrees["delete_insert"].tolist()]
l50_degree_list = [int(i) for i in degrees["pos_l50"].tolist()]
m50_degree_list = [int(i) for i in degrees["pos_m50"].tolist()]

In [1]:
import scipy.stats

In [9]:
scipy.stats.pearsonr(all_degree_list,m50_degree_list)

(0.8203018798966866, 0.0)

In [12]:
scipy.stats.pearsonr(replace_degree_list,m50_degree_list)

(0.7822882481771802, 0.0)

In [14]:
scipy.stats.pearsonr(delins_degree_list,m50_degree_list)

(0.5819936796937106, 0.0)

In [16]:
scipy.stats.pearsonr(l50_degree_list,m50_degree_list)

(0.5739563943364788, 0.0)

In [1]:
import pandas as pd
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

In [8]:
degrees = pd.read_csv('degrees_9075.csv',dtype="string")
mald_words = pd.read_csv('mald_words.csv',dtype="string")

In [9]:
intersection_words = intersection(degrees['lower'].tolist(),mald_words['Lower'].tolist())

In [10]:
len(intersection_words)

5594

In [15]:
l1 = open('degrees_9075.csv').read().strip().split("\n")
l1.remove(l1[0])

In [16]:
l1_dict = {}
l1_keys = []
for l in l1:
    l = l.split(',')
    l1_dict[l[0]] = l[1:]
    l1_keys.append(l[0])

In [17]:
l2 = open('mald_words.csv').read().strip().split("\n")
l2.remove(l2[0])

In [18]:
l2_dict = {}
l2_keys = []
for l in l2:
    l = l.split(',')
    l2_dict[l[0]] = l[1:]
    l2_keys.append(l[0])

In [11]:
l3 = open('subgraph_9075/intersection.csv').read().strip().split("\n")
l3.remove(l3[0])
l3_keys = []
for l in l3:
    l = l.split(',')
    l3_keys.append(l[0])

In [19]:
commons = intersection(l1_keys,l2_keys)

In [20]:
len(commons)

5596

In [14]:
for l in l3_keys:
    if l not in commons:
        print(l)

TRUE
FALSE

In [21]:
commons_values  = []
for i in commons:
    l = []
    l.extend(l1_dict[i])
    l.extend(l2_dict[i])
    commons_values.append(l)

In [74]:
commons[0]

'eaten'

In [41]:
commons_values  = []
for i in commons:
    d1=degrees.loc[degrees.lower==i].to_dict('records')[0]
    d2=mald_words.loc[mald_words.Lower==i].to_dict('records')[0]
    d1.update(d2)
    commons_values.append(d1)

IndexError: list index out of range

In [22]:
commons_df = pd.DataFrame(data=commons_values)

In [23]:
commons_df.to_csv('commons.csv',index=False)

In [27]:
commons_df = pd.read_csv('commons.csv',dtype="string")

In [30]:
commons_df.loc[commons_df.Item=="TRUE"].values.flatten().tolist()

['TRUE',
 '17786',
 'TRUE',
 'tru',
 '18',
 '11',
 '7',
 '8',
 '10',
 '0.235294118',
 '0.454545455',
 '0.75',
 '0.288888889',
 '1',
 '3',
 '360',
 '5',
 '61',
 '14',
 '12921',
 '50607',
 '15278',
 '96282261',
 '4',
 '1']

In [53]:
commons_df.to_csv('commons.csv',index=False)

In [31]:
responses = open('mald_responses.csv').read().strip().split("\n")
responses.remove(responses[0])

In [32]:
responses[0]

'aarihng,MALD1_sR,MALD1,15292,442,nonwordsn,1,15292_38,755,TRUE,38'

In [39]:
responses_combined = []
for r in responses:
    r = r.split(',')
    if r[0] in commons or r[0].lower() in commons:
        l = commons_df.loc[commons_df.Item==r[0]].values.flatten().tolist()
        r.extend(l)
        responses_combined.append(r)

In [38]:
if "TRUE" in commons:
    print(1)

In [34]:
responses_combined[0]

['accident',
 'MALD1_sR',
 'MALD1',
 '15292',
 '223',
 'words38',
 '1',
 '15292_38',
 '813',
 'TRUE',
 '38',
 'accident',
 '123',
 'accident',
 '@ks|d|nt',
 '1',
 '1',
 '0',
 '0',
 '1',
 '-1',
 '-1',
 '-1',
 '-1',
 '3',
 '8',
 '668',
 '9',
 '3',
 '2',
 '4146',
 '9992',
 '2929',
 '18700748',
 '9',
 '1']

In [40]:
responses_combined_df = pd.DataFrame(data=responses_combined)

In [41]:
responses_combined_df.to_csv('responses_combined.csv',index=False)

In [11]:
j=0
for i in l1_keys:
    if i in l2_keys:
        j+=1

In [12]:
j

5594

In [3]:
french2 = pd.read_excel('Lexique-query.xlsx')

In [7]:
french2

,Word,Lexique383 phon,Lexique383 lemme,Lexique383 cgram,Lexique383 freqlemfilms2,Lexique383 freqfilms2,Lexique383 islem,Lexique383 nblettres,Lexique383 puorth,Lexique383 puphon,...,Megalex-auditory zrt.n,Megalex-auditory acy,Megalex-auditory acy.n,Megalex-auditory nbphon,Megalex-auditory puPhon,Megalex-auditory pld20,Megalex-auditory accd,Megalex-auditory fb,Megalex-auditory ff,Megalex-auditory ft
0,abaisse,abEs,abaisse,NOM,0.02,0.02,1,7,7,4,...,34,0.744681,47,4,4,1.70,644,3.45,1.30,4.75
1,abaisse,abEs,abaisser,VER,4.93,1.28,0,7,7,4,...,34,0.744681,47,4,4,1.70,644,3.45,1.30,4.75
2,abaisser,abese,abaisser,VER,4.93,1.09,1,8,8,5,...,46,0.978723,47,5,3,1.85,572,2.91,1.09,4.00
3,abandon,ab@d§,abandon,NOM,4.84,4.77,1,7,7,5,...,45,1.000000,45,5,5,2.85,550,25.20,4.77,29.97
4,abandonna,ab@dona,abandonner,VER,110.87,0.59,0,9,0,0,...,47,1.000000,47,7,7,2.80,696,8.92,0.59,9.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19654,zoo,zoo,zoo,NOM,12.17,11.45,1,3,3,3,...,38,0.886364,44,3,3,1.85,379,6.08,11.45,17.53
19655,zoom,zum,zoom,NOM,2.40,2.27,1,4,4,3,...,48,0.960000,50,3,3,1.70,513,0.34,2.27,2.61
19656,zoophile,zoofil,zoophile,ADJ,0.03,0.01,1,8,8,6,...,44,1.000000,45,6,6,2.65,848,0.14,0.01,0.15
19657,zouave,zwav,zouave,NOM,0.46,0.46,1,6,4,2,...,45,0.900000,50,4,1,2.00,652,1.76,0.46,2.22
19658,zut,zyt,zut,ONO,13.69,13.69,1,3,3,3,...,46,0.938775,49,3,1,1.60,473,7.16,13.69,20.85